body {
  color: #000;
  font-family: Helvetica, Arial, sans-serif;
  font-size: rem(16);
  line-height: 1.6;
  margin: 0;
}

img {
  width: 100%;
  margin: 0 auto;
  vertical-align: bottom;
}

header {
  text-align: center;
  padding: 1.25em 2em 0.5em 2em;
  color: #fff;
  background-color: #E1B0E6;
}
header .header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-end;
  max-width: 1000px;
  margin: 0 auto;
}
header h1 {
  font-size: 2.5em;
  line-height: 1;
}
header h1 a {
  color: #fff;
  cursor: pointer;
}
header p {
  font-size: 1em;
  padding-left: 2em;
}
header p a {
  color: #fff;
  cursor: pointer;
}
header img {
  display: block;
  width: 8%;
  max-width: 60px;
  margin-left: auto;
  margin-right: 0;
}

.header {
  max-width: 1000px;
}

h2 {
  text-align: center;
  margin: 0.5em auto;
}

a {
  color: #000;
  text-decoration: none;
}

footer {
  text-align: center;
  font-size: 0.8em;
}

.footer {
  color: #fff;
  padding: 3em 0 1em 0;
  background-color: #E1B0E6;
}
.footer img {
  width: 10%;
  max-width: 5em;
  padding: 0 1em;
}
.footer_div {
  margin: 0 auto 1.25em auto;
}

.remove {
  display: none;
}

.index_all {
  padding-bottom: 2em;
}
.index_price {
  border-bottom: #000 5px solid;
  padding: 0.25em 0 0 0.5em;
}
.index_state {
  border-bottom: #000 5px solid;
  padding: 0.25em 0 0 0.5em;
}
.index_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1.25em 0;
}
.index_items_name {
  border-bottom: #000 5px solid;
  padding: 0.25em 0 0 0.5em;
}
.index_item {
  width: 30%;
  margin: 0.75em auto;
  padding: 0.625em 0 1.25em 0;
  border: #000 1px solid;
  background-color: #fff;
  border-radius: 5px;
}
.index_item img {
  border-bottom: 1px solid #000;
  padding-bottom: 0.625em;
}
.index_item:hover {
  transform: scale(1.05);
  box-shadow: 0 3px 3px 0 #000;
}
.index p {
  margin-left: 1.25em;
}

button {
  display: block;
  background-color: #000;
  color: #fff;
  margin: 1em auto;
  width: 5em;
  height: 3em;
  border-radius: 10%;
}
button:hover {
  transform: scale(1.1);
}

.prod {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: 4em auto;
}
.prod input {
  border: #000 1px solid;
  padding-left: 0.5em;
  margin-top: 0.5em;
}
.prod ul {
  margin-left: 1.25em;
}
.prod ul li {
  list-style: none;
}
.prod_imgs {
  width: 45%;
  margin: 0;
}
.prod_img_main img {
  display: block;
  width: 80%;
  max-width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0.725em 0;
  margin: 0 auto;
}
.prod_img_sub {
  margin: 2em auto;
}
.prod_img_sub img {
  width: 25%;
}
.prod_text {
  width: 45%;
}
.prod_text_main {
  margin: 1.25em 0 0.875em 0;
}
.prod_text_head {
  font-size: 1.2rem;
  font-weight: bold;
  border-bottom: #E1B0E6 2px solid;
}
.prod_text_link {
  font-size: 1.1em;
  padding-top: 0.5em;
}
.prod .btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.prod button {
  color: #000;
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 50px;
  width: 40%;
  margin-left: 0;
  margin-right: auto;
}
.prod button:hover {
  transform: scale(1.1);
  font-weight: bold;
  color: #fff;
  background-color: #E1B0E6;
  border: none;
}

@media (max-width: 800px) {
  .header {
    align-items: flex-end;
    padding-bottom: 1.5em;
  }
  .header h1 {
    font-size: 1.5em;
  }
  .header p {
    padding-left: 0.25em;
    line-height: 1;
  }
  .header img {
    width: 100%;
  }
  .index_items {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.25em 0;
  }
  .index_items_name {
    border-bottom: #000 5px solid;
  }
  .index_items:hover {
    display: none;
  }
  .index_item {
    width: 90%;
    margin: 0.75em auto;
    padding: 1.25em 0;
    background-color: #fff;
    border-radius: 15px;
  }
  .index p {
    margin-left: 1.25em;
  }
  .prod {
    display: block;
  }
  .prod_imgs {
    width: 95%;
    margin: 0 auto;
  }
  .prod_imgs_sub {
    width: 95%;
    margin: 0 auto;
  }
  .prod_text {
    width: 95%;
    margin: 0 auto;
  }
  .prod_text ul {
    margin: 0 auto;
  }
  .btns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .footer img {
    width: 20%;
  }
}
/*# sourceMappingURL=style.css.map */