---
layout: layout.njk
pagination:
  data: items
  size: 1
  alias: item
permalink: 'authors/{{ pagination.items[0].name | slugify }}/'

---
<ul>
	<li>{{ item.name }}</li>
	<li>{{ item.title }}</li>
</ul>