---
title: Myshop
layout: layout.njk

---

<h1>{{ title }}</h1>


<h1>items</h1>
<ul>
	{% for item in items %}
	<li><a href="../product/{{ item.price }}"> {{ item.name }} </a></li>
	{% endfor %}
</ul>
