---
title: フクタ模型店
layout: layout.njk
cssPath: css/
scriptPath: js/script
imgPath: images/
---


<main class="index">
<h2>商品ラインナップ</h2>
<div class="index_all">
<div class="index_items">
	{% for item in items %}
	
	<div class="index_item">
		<a href="product/{{ item.url }}">
	<img src="images/{{ item.url }}/{{item.itemphotos[0]}}">
	{# 商品名 #}
	<p class="index_items_name"> {{ item.name }} </p>
	{# 値段 #}
	<p class="index_price">{{item.price}}円</p>
	{# 値段 #}
	<p class="index_state">{{item.state}}<p>
		</a>
	</div>
	
	{% endfor %}
</div>
<button>MORE</button>
</div>

</main>

