---
title: フクタ模型店
layout: layout.njk
pagination:
  data: items
  size: 1
  alias: item
permalink: 'product/{{ pagination.items[0].url | slugify }}/'
cssPath: ../../css/
scriptPath: ../../js/product
imgPath: ../../images/
---

<main class="prod">
  <div class="prod_imgs">
  <div class="prod_img_main">
    <img src="../../images/{{ item.itemphotos[0] }}" alt=""/>
    </div>
    <div class="prod_img_sub">
      <img src="../../images/{{ item.itemphotos[0] }}" alt=""/>
      <img src="../../images/{{ item.itemphotos[1] }}" alt=""/>
      <img src="../../images/{{ item.itemphotos[2] }}" alt=""/>
      </div>
    </div>
    <div class="prod_text">
<ul>
    <li class="prod_text_main">
       <p class="prod_text_head">商品名</p>
      <p>{{ item.name}}</p>
      </li>

    <li class="prod_text_main">
       <p class="prod_text_head">商品説明</p>
      <p>{{ item.text}}</p>
      </li>

    <li class="prod_text_main">
       <p class="prod_text_head">価格</p>
      <p>{{ item.price}}円</p>

    </li>

    <li class="prod_text_main">
     <p class="prod_text_head">購入数量</p>
    <input type="number">
    </li>

    <li class="prod_text_main">
       <p class="prod_text_head">製造元</p>
     <p> {{ item.maker}}</p>
      </li>

    <button>購入する</button>
</ul>
</div>
</main>
<footer>
	<p>copylight Myshop 2022</p>
</footer>
