---
title: 記事タイトル
layout: layout.njk
pagination:
  data: items
  size: 1
  alias: item
permalink: 'product/{{ pagination.items[0].price | slugify }}/'
---

<ul>
    <li>{{ item.name}}</li>
    <li>{{ item.price}}</li>
    <li>{{ item.maker}}</li>
    <li>{{ item.text}}</li>
</ul>
