@charset "UTF-8";
// flex
@mixin flex($j:space-between, $a:center){
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}
// 全体
body{
    color: #000;
    font-family:  Helvetica, Arial,  sans-serif;
    font-size:rem(16);
    line-height: 1.6;
    margin: 0;
}
img{
    width: 100%;
    margin: 0 auto;
    vertical-align: bottom;
}
header{
    & .header{
        @include flex(flex-start, flex-end);
        max-width: 1000px;
        margin: 0 auto;
    }
    text-align: center;
    padding: 1.25em 2em 0.5em 2em;
    color: #fff;
    background-color:#E1B0E6 ;
    & h1{
        & a{
            color: #fff;
            cursor: pointer;
        }
        font-size: 2.5em;
        line-height: 1;
    }
    & p{
        font-size: 1em;
        padding-left: 2em;
       
        & a{
            color: #fff;
            cursor: pointer;
        }
    }
    & img{
        display: block;
        width: 8%;
        max-width: 60px;
        margin-left: auto;
        margin-right: 0;
    }
}

.header{
    max-width: 1000px;
}
h2{
    text-align: center;
    margin: 0.5em auto;
}
a{
    color: #000;
    text-decoration: none;
}
footer{
    text-align: center;
    font-size: 0.8em;
}
.footer{
    color: #fff;
    padding: 3em 0 1em 0;
    background-color: #E1B0E6;
    & img{
        width: 10%;
        max-width: 5em;
        padding: 0 1em;
    }
    &_div{
        margin: 0 auto 1.25em auto;
    }
}
.remove{
    display: none;
}

// index.html
.index{
 &_all{
        padding-bottom: 2em;     
}

&_price{
    border-bottom: #000 5px solid;
    padding: 0.25em 0 0 0.5em ;
}
&_state{
    border-bottom: #000 5px solid;
    padding: 0.25em 0 0 0.5em ;
}
&_items{
 @include flex();
max-width: 1200px;
margin: 0 auto;

 padding: 1.25em 0;
 &_name{
    border-bottom: #000 5px solid;
    padding: 0.25em 0 0 0.5em ;
}

}
&_item{
    width: 30%;
    margin: 0.75em auto;
    padding: 0.625em 0 1.25em 0;
    border: #000 1px solid;
    
    background-color: #fff;
    border-radius: 5px;
    & img{
        border-bottom: 1px solid #000 ;
        padding-bottom: 0.625em ;
    }
    &:hover{
        transform: scale(1.05);
        box-shadow: 0 3px 3px 0 #000 ;
    }
}
& p{
    margin-left: 1.25em;
    }

}
button{
    display: block;
    background-color: #000;
    color: #fff;
    margin: 1em auto;
    width: 5em;
    height: 3em;
    border-radius: 10%;
    &:hover{
        transform: scale(1.1);
  
    }
}

// prodcut.njk
.prod{
    @include flex(space-evenly,flex-start);
   margin: 4em auto;
   & input{
    border: #000 1px solid;
    padding-left: 0.5em;
    margin-top: 0.5em;
   }
   
    & ul{
        margin-left: 1.25em;
        & li{
            list-style: none;
        }
        }
        &_imgs{
            width: 45%;
                margin: 0;   
        } 
        &_img{
            &_main{ 
                & img{
                    display: block;
                    width: 80%;
                  max-width: 500px;
                  object-fit:cover ;
                  padding: 0.725em 0;
                margin: 0 auto;
                }
            }
            &_sub{
                margin: 2em auto;
                & img{
                width: 25%;
                }
            }
        }
        &_text{
            width: 45%;
            &_main{
                margin: 1.25em  0 0.875em 0;
            }
            &_head{
                font-size: 1.2rem;
                font-weight: bold;
                border-bottom: #E1B0E6 2px solid;
            }
            &_link{
                font-size: 1.1em;
                padding-top: 0.5em;
            }
        }
        & .btns{
            @include flex ();
        }
    & button{
        color: #000;
        background-color: #fff;
        border: #000 1px solid;
        border-radius: 50px;
        width: 40%;
        margin-left: 0;
        margin-right: auto;
        &:hover{
            transform: scale(1.1);
            font-weight: bold;
            color: #fff;
            background-color: #E1B0E6;
            border: none;
        }
    }
}


// pc表示
@media (min-width:800px){}
// スマホ表示
@media (max-width:800px){
    .header{
        align-items: flex-end;
        padding-bottom:1.5em ;
        & h1{
            font-size: 1.5em;
        }
        & p{
            padding-left: 0.25em ;
            line-height: 1;
        }
        & img{
            width: 100%;
        }
    }
    .index{
        
       
       &_items{
     
       max-width: 1200px;
       margin: 0 auto;
      
        padding: 1.25em 0;
        &_name{
           border-bottom: #000 5px solid;
       }
       &:hover{
        display: none;
       }
       }
       &_item{
           width: 90%;
           margin: 0.75em auto;
           padding: 1.25em 0;
           
           background-color: #fff;
           border-radius: 15px;
           
       }
       & p{
           margin-left: 1.25em;
           }
       
       } 
       .prod{
        display: block;
        &_imgs{
            width: 95%;
            margin: 0 auto;
            &_sub{
                width: 95%;
                margin: 0 auto;
            }
        }
        &_text{
            width: 95%;
            margin:0 auto;
            & ul{margin: 0 auto;}
            
            &_link{
                
            }
        }
           } 
           .btns{
            @include flex();
           }
           .footer{
             & img{
                width: 20%;
             }
           }
}